@media (min-width: 768px) {
    .header-container {
        justify-content: space-between;
        align-items: center;
    }

    
    #hamburger {
        display: none;
    }

 
    #nav-menu {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
        position: static;
        width: auto;
        padding: 0;
    }

   
    .nav-container {
        margin-right: 0;
    }

    main {
        max-width: 1200px;
    }

    main>div {
        grid-template-columns: repeat(3, 1fr);
    }
}